<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

	<Properties>
		<!-- 服务器日志地址 -->
		 <!--<Property name="LOG_DIR">/usr/share/apache-tomcat-8.5.9/logs/log4j</Property>-->
		 <!--<Property name="LOG_DIR">/usr/local/storyServer/logs/log4j</Property>-->
		 <Property name="LOG_DIR">/usr/local/yufaServer/logs/log4j</Property>
		 <!--本机日志地址 -->
		<!--<Property name="LOG_DIR">/Library/Tomcat/logs/log4j</Property>-->
		<Property name="ARCHIVE">${LOG_DIR}/archive</Property>
		<Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
	</Properties>
	<!--先定义所有的appender-->
	<appenders>
		<!--这个输出控制台的配置-->
		<Console name="Console" target="SYSTEM_OUT">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
			<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
			<!--输出日志的格式-->
			<PatternLayout pattern="${PATTERN}"/>
		</Console>
		<!--这个会打印出所有的信息-->
		<RollingFile name="RollingFile" fileName="${LOG_DIR}/story.log"
					 filePattern="${ARCHIVE}/story.log.%d{yyyy-MM-dd}.gz">
			<PatternLayout pattern="${PATTERN}"/>
			<!--<MarkerFilter marker="STATISTICS" onMatch="ACCEPT"
						  onMismatch="DENY" />-->
			<!--按照大小分-->
			<!--<SizeBasedTriggeringPolicy size="20MB"/>-->
			<TimeBasedTriggeringPolicy/>
		</RollingFile>
		<!--error日志-->
		<RollingFile name="errorRollingFile" fileName="${LOG_DIR}/error.log"
					 filePattern="${ARCHIVE}/error.log.%d{yyyy-MM-dd}.gz">
			<PatternLayout pattern="${PATTERN}"/>
			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
			<!--<MarkerFilter marker="STATISTICS" onMatch="ACCEPT"
						  onMismatch="DENY" />-->
			<!--按照大小分-->
			<!--<SizeBasedTriggeringPolicy size="20MB"/>-->
			<TimeBasedTriggeringPolicy/>
		</RollingFile>
	</appenders>
	<!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
	<loggers>
		<!--建立一个默认的root的logger-->
		<root level="info">
			<appender-ref ref="RollingFile"/>
			<appender-ref ref="Console"/>
			<appender-ref ref="errorRollingFile"/>
		</root>
		<logger name="org.springframework" level="warn" />
		<logger name="org.mybatis" level="info" />
		<logger name="cn.edu" level="info" />
		<logger name="com.mangofactory" level="warn" />
		<logger name="cn.edu.nju.software.dao" level="warn" />
		<logger name="org.jboss.logging" level="warn" >
			<appender-ref ref="RollingFile"/>
		</logger>
		<!--<logger name="org.apache.http.impl.conn.PoolingHttpClientConnectionManager" level="warn" />-->
		<logger name="org.apache" level="warn" />
		<!--<logger name="cn.edu" level="error" additivity="false">
			<appender-ref ref="errorRollingFile"/>
			<appender-ref ref="Console"/>
		</logger>-->
	</loggers>
</configuration>
